
@{
    ViewBag.Title = "BaskaNotlar";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="main-body pos-xl-absolute t-130 r-0 b-0 l-0 overflow-y-auto">
    <div class="ht-250 bg-inverse announcement pos-relative bd-b bd-color-gray-dark-light">
        <img src="http://via.placeholder.com/1000x400" class="wd-100p ht-100p object-fit-cover" alt="">
        <div class="overlay-block bg-opacity-inverse-7 pd-25 d-flex align-items-end">
            <div>
                <h2 class="tx-white">Başka Notlar</h2>
                <p class="tx-white op-2">**Açıklama**</p>

            </div>
        </div><!-- overlay-block -->
    </div><!-- announcement -->
    <div class="pd-25">
        <div class="d-flex align-items-center justify-content-between">
            <h6 class="tx-size-12 tx-size-sm-14 tx-white tx-uppercase tx-spacing-2 mg-b-0">Son eklediğim notlar</h6>
            
        </div>
        <hr class="mg-y-25 bd-color-gray">
    </div>
