
@{
    ViewBag.Title = "App";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="main-body pos-xl-absolute t-130 r-0 b-0 l-0 overflow-y-auto">
    <div class="ht-250 bg-inverse announcement pos-relative bd-b bd-color-gray-dark-light">
        <img src="http://via.placeholder.com/1000x400" class="wd-100p ht-100p object-fit-cover" alt="">
        <div class="overlay-block bg-opacity-inverse-7 pd-25 d-flex align-items-end">
            <div>
                <h2 class="tx-white">Eklediğim Notlar</h2>
                <p class="tx-white op-2">Eklediğiniz ders notları burada görünür.</p>

            </div>
        </div><!-- overlay-block -->

    </div><!-- announcement -->

    <div class="pd-25">
        <div class="d-flex align-items-center justify-content-between">
            <h6 class="tx-size-12 tx-size-sm-14 tx-white tx-uppercase tx-spacing-2 mg-b-0">Son eklediğim notlar</h6>

        </div>

        <hr class="mg-y-25 bd-color-gray">

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <img src="http://via.placeholder.com/600x600" class="img-fluid rounded" alt="">
                <h6 class="tx-size-14 tx-normal mg-t-15 mg-b-5"><a href="" class="tx-white">Sayısal Analiz</a></h6>
                <p class="mg-b-5">Yrd.Doç.Dr. Tuğrul Taşçı</p>
                <span class="tx-gray-light">10, 323 İndirme</span>
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-25 mg-sm-t-0">
                <img src="http://via.placeholder.com/600x600" class="img-fluid rounded" alt="">
                <h6 class="tx-size-14 tx-normal mg-t-15 mg-b-5"><a href="" class="tx-white">Veritabanı Tasarım ve Yönetimi</a></h6>
                <p class="mg-b-5">Yrd.Doç.Dr. Tuğrul Taşçı.</p>
                <span class="tx-gray-light">7, 323 İndirme</span>
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-25 mg-lg-t-0">
                <img src="http://via.placeholder.com/600x600" class="img-fluid rounded" alt="">
                <h6 class="tx-size-14 tx-normal mg-t-15 mg-b-5"><a href="" class="tx-white">Country Hit List</a></h6>
                <p class="mg-b-5">A country album celebrating the best music.</p>
                <span class="tx-gray-light">9, 992 Listeners</span>
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-25 mg-lg-t-0">
                <img src="http://via.placeholder.com/600x600" class="img-fluid rounded" alt="">
                <h6 class="tx-size-14 tx-normal mg-t-15 mg-b-5"><a href="" class="tx-white">All New All Now</a></h6>
                <p class="mg-b-5">All the music you need to hear right now.</p>
                <span class="tx-gray-light">5, 095 Listeners</span>
            </div><!-- col-3 -->
        </div><!-- row -->


    </div><!-- row -->

