@model NoteApp.Models.MultiModel
<div class="row no-gutters">
    <div class="col">
        <div class="pd-y-15 tx-center bd-y bd-color-gray-dark-light">
            <i class="icon ion-android-folder tx-size-32 lh-0"></i>
            <h4 class="tx-white mg-t-10 mg-b-2">@Model.addedNote</h4>
            <p class="mg-b-0 tx-size-10 tx-spacing-2 tx-uppercase">Eklediğiniz Tüm Notlar</p>
        </div><!-- pd-10 -->
    </div><!-- col -->
    <div class="col bd-l bd-color-gray-dark-light">
        <div class="pd-y-15 tx-center bd-y bd-color-gray-dark-light">
            <i class="icon ion-android-download tx-size-32 lh-0"></i>
            <h4 class="tx-white mg-t-10 mg-b-2">@Model.ViewCount</h4>
            <p class="mg-b-0 tx-size-10 tx-spacing-2 tx-uppercase">Toplam Görüntülenme</p>
        </div><!-- pd-10 -->
    </div><!-- col -->
</div><!-- row -->
